.top-banner{
    background-color: #562EFF;
    position: absolute;
width: 1349px;
height: 94px;
left:0px;
right: 0px;
top: 0px;
}
#logo{
    position: absolute;
width: 40.42px;
height: 51px;
left: 270px;
top: 26px;

}
body{
    background-color: #F3F1FF;
    font-family: 'Poppins', sans-serif;
}
.text-logo{
    position: absolute;
width: 54px;
height: 36px;
left: 320px;
top: 18px;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
color: #FFFFFF;
}
.text-logo:hover{
    border: 2px solid rgb(199, 27, 62); 
}

nav ul{
    list-style: none;
    text-align: center;
}
nav li{
    display: inline-block;
   margin-right: 2px;
   margin-left: 82px;
   padding-top: 20px;
   
    width: 48px;
height: 24px;
left: 847px;
top: 35px;
}
nav li :hover{
    border: 2px solid rgb(199, 27, 62);    
}
nav a{
    text-decoration: none;
     color: #FFFFFF;
     font-style: normal;
     
}
#profile{
    position: absolute;
width: 51px;
height: 51px;
left: 1100px;
top: 23px;
}
.top-player{
    width: 870px;
padding-bottom: 30px;
left: 285px;
right: 285px;
background: #FFFFFF;
border-radius: 5px;
top: 130px;
position: absolute;
margin-top: 21px;
}
#player{
width: 52.5px;
height: 56px;
top: 239px;
padding-left: 30px;

}
.player-title{
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #562EFF;
    font-style: normal;
font-weight: 500;
font-size: 24px;
}
.players{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   align-items: flex-end;
   grid-row-gap: 30px;
}
.player img{
    width: 56px;
    height: 56px;
    padding-left: 30px;
}
.player{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.player-name{
    margin-left: 16px;
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
color: #000000;
}
hr{
width: 807px;
height: 0px;
left: 315px;
right: 315px;
margin-top: 30px;
border: 1px solid #D1D1D1;
}
.Blog-title{
    color: #562EFF;
    font-weight: 500;
    font-size: 24px; 
    padding-left: 30px;
}
#blog-pic1{
    width: 177px;
    height: 117px;
    padding-left: 33px;
}
.blog-line{
    font-weight: 500;
font-size: 20px;
color: #000000;
width: 80%;
padding-left: 20px;
margin-bottom: 26px;
}
.blog-part1{
    display: flex;
}
.author{
    font-weight: 400;
    font-size: 14px;
    color: #9F9F9F;
    padding-left: 20px;
    margin-bottom: 20px;
}
.blog-text-part{
    
}
#blog-pic2{
    width: 177px;
    height: 117px;
    padding-left: 33px;
}
.blog-line2{
    font-weight: 500;
font-size: 20px;
color: #000000;
width: 80%;
padding-left: 20px;
margin-bottom: 26px;
}
.blog-part2{
    display: flex;
}
.author2{
    font-weight: 400;
    font-size: 14px;
    color: #9F9F9F;
    padding-left: 20px;
    margin-bottom: 20px;
}
.blog-text-part2{
    margin-bottom: 26px;
}
.author a{
    text-decoration: none;
    font-size: 14px;
}
.author2 a{
    text-decoration: none;
    font-size: 14px;
}
.blog-deco{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
}
.blog-line3{
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    width: 90%;
    padding-left: 20px;
    margin-bottom: 26px;
}
