body{
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
    margin: 0px;
}
nav a{
    text-decoration: none;
    font-style: normal;
    color: #ffff;
    margin: 25px;
}
nav a:hover{
    border: 2px solid #FF4A60;
}
nav{
    display: flex;
    justify-content: space-between;
    background: #562EFF;
}
.logo{
    padding-top: 20px;
    padding-left: 180px;
    color: #e5e5e5;
    font-size: 24px;
}
.link{
    padding-right: 180px;
    padding-bottom:20px;
    padding-top: 20px;
}
.player-name{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: flex-end;
    grid-row-gap: 30px;
    
}
.player{
    display: flex;
    align-items: center;
    
}
.player img{
    margin-left: 30px;
    padding-left: 30px;
}
.title{
    color:#562EFF;
    padding-left: 60px;
    padding-top: 30px;
    font-weight: 500;
    font-size: 20px;
}
.container{
    width: 870px;
    margin-top: 37px;
    height: 779px;
    margin-left: 285px;
    background-color: #ffff;
    border-radius: 5px;
}
.name{
    padding-left: 20px;
    font-size: 18px;
    font-weight: 500;
}
.blog-img{
    width: 25%;
    padding-left: 60px;
}
hr{
    margin-top: 50px;
    width: 70%
}
.blog-title{
    color: #562EFF;
    padding-left: 60px;
    padding-top: 30px;
}